<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% include "menu.html"  %}
</head>
<body>
    <h3>{{ title }}:</h3>
    <ol type="1">
        {% for item in items %}
            {% if item.quantity == 0 %}
                <li><a href="{{ item.id }}">{{ item.name }}</a>: Товар отсутствует</li>
            {% else %}
                <li><a href="{{ item.id }}">{{ item.name }}</a>: {{ item.count }}</li>
            {% endif %}
        {% endfor %}
    </ol>
</body>
</html>
