{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ item.name }}
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/color.css' %}">
{% endblock %}


{% block content %}
    <p>
        Наименование: {{ item.name }} <br>
        {% if item.count == 0 %}
            Кол-во: {{ item.count }} <br>
        {% else %}
            Кол-во: товара нет на складе <br>
        {% endif %}
        Бренд: {{ item.brand }}
        <h4>Доступные цвета: </h4>
        <ul class="ul_no_mark">
            {% for color in colors %}
                <li>
                    <span class="color-box" style="background-color: {{ color.name }};"></span> {{ color.name }}
                </li>
            {% endfor %}
        </ul>
    </p>
    <a href="{% url 'items' %}">Назад к списку товаров</a>
{% endblock %}

